name: Lake Build

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Lean
        uses: leanprover/lean-action@v1
        with:
          lean-version: leanprover/lean4:v4.26.0
      - name: Build
        run: lake build
